* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.incremet,
.decrement {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  background: #28803c;
  max-width: 80px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  color: #fff;
  transition: 0.3;
}
input {
  max-width: 80px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  padding: 8px 10px;
}

.decrement button {
  width: 80px;
}
.result {
  padding: 4.5px 30px;
  border-radius: 4px;
  height: 30px;
  text-align: center;
  background: #fed0cd;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
.container {
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.reset {
  width: 80px;
}
button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
button:active {
  transform: scale(0.95);
}
button:disabled:active {
  transform: scale(1);
}
